/* .section:nth-child(even) {background: #333;color: #fff;text-align: center;} 세션 구분*/
#video {position: absolute;top: 0px;left: 0px;min-width: 100%;min-height: 100%;width: auto;height: auto;z-index: -999;overflow: hidden;}
.section {background:url(bg.png);}
.section .container {display:flex;width:1200px;margin:0 auto;}
.section .container>* {flex:1;}
.section h3 {position: absolute;top: 60px;left: 60px;font-size: 80px;font-weight: 700;
    ;color: #333333; text-shadow: 4px 4px 0px #FFFFFF, 8px 8px 0px rgba(0,0,0,0.3);}
.section .txt {background: rgba(255, 255, 255, 0.3);}
.section h4 {font-size: 40px;font-weight: 900;margin-bottom:20px;}
.section dt {font-size:18px;font-weight: 500;margin-bottom:20px;display: flex;}
.section dd {font-size:18px;font-weight:300;line-height: 1.4;}


header {position:fixed;top:60px;right:150px;z-index:999;;}
nav {position:fixed;bottom:60px;right:60px;z-index:999;width:40px;}
nav li {position:relative;}

nav li a {display:block;text-indent:-9999px;}
nav li a:after {content:"";display:block;width: 50%;height:10px;border-radius: 30%;background:#333;position:absolute;top:6px;right:0;transition:0.2s;}
nav li.on a:after {width: 100%;border-radius: 20%}



/* 인트로 */
.m01>*{display: flex;}
/*.m01 .triangle-up {width:0;height:0;border-left: 160px solid transparent;
    border-right: 150px solid transparent;border-bottom: 200px solid #999;bottom: 0;left:200px;}*/
.m01 .parallelogram {width: 300px; height: 100vh; transform: skew(25deg); background:url(bg02.gif) ;margin-left: 220px;position: relative;}
.m01 .txt {padding: 300px;}
.m01 .txt h2{font-size: 70px ;font-weight: 500;margin-bottom: 20px;} 
.m01 .txt p{font-size: 100px ;font-weight: 900;} 
.m01 img {vertical-align:bottom;margin-bottom: 5px;}


/*세션01*/
.pf01 .pt_slider {margin:0 auto;width:1200px;z-index:999;}
.pf01 .pt_slider figure {padding:100px 0px;position:relative;padding-top:200px;}
.pf01 .pt_slider figure video {width:100%;padding:0 20px;border-radius: 30px;}
.pf01 figure img {width:100%;position:absolute;bottom:80px;left:0px;z-index: -1;}
.pf01 .container>div {padding: 110px 30px 0 100px;margin: auto;}
.pf01 .container i {font-size:30px;cursor:pointer;} /*재생 일시정지 버튼*/

/*슬라이더 좌우 버튼, 재생 버튼과 중복 처리 되서 개별로 각각 진행  */
.pf01 .xi-angle-left {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);
    font-size:40px;cursor:pointer;z-index: 999;color:#fff;background: #333;opacity: 0.7;
    padding: 5px;margin-left: -700px;border-radius: 50% 20% 20% 50%;}
.pf01 .xi-angle-right {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);
    font-size:40px;cursor:pointer;z-index: 999;color:#fff;background: #333;opacity: 0.7;
    padding: 5px;margin-left: 700px;border-radius: 20% 50% 50% 20%;}

.pf01 .slick-dots {text-align:center}
.pf01 .slick-dots button {display:none;}
.pf01 .slick-dots li {display:inline-block;width:30px;height:15px;background:#333;border-radius:40%;margin:30px 5px;}
.pf01 .slick-dots li.slick-active {border: 5px solid #000;background:#fff;}











.pf02 figure {position:relative;order:2} /*{order:2} flex 순서 변경 / float:left -> display:flex;display:grid; */
.pf02 figure img {width:110%;position:absolute;top:-28px;right:-28px;}

.pf02 video {transform:scale(0);}
.pf02.on video{transform:scale(1);}
.pf02 video {width:100%;}

.pf02 .txt {padding:50px 0 0 30px;}
.pf02 .txt h2 {font-size:40px;font-weight:900;margin-bottom:20px;}
.pf02 .txt p {font-size:14px;font-weight:300;}
.pf02 .txt i {font-size:30px;}







.info {background:#333;color:#f2f2f2;text-align:right;padding:30px 0;}
.info .txt {flex:3;align-items: center;padding:50px 0;}
.info figure img {width:150px;border-radius:50%;margin-right:40px;}











footer {position:fixed;bottom:60px;left:60px;z-index:999;}

#mopen {position:fixed;top:60px;right:60px;width:30px;height:30px;overflow:hidden;z-index:1001;}
#mopen>span {position:absolute;width:100%;height:3px;left:0;background:#333;transition:0.3s;}
#mopen>span:nth-child(1) {top:0;}
#mopen>span:nth-child(2) {top:10px;}
#mopen>span:nth-child(3) {top:10px;}
#mopen>span:nth-child(4) {top:20px;}

#mopen.on>span:nth-child(1) {left:100%;}
#mopen.on>span:nth-child(2) {transform:rotate(45deg)}
#mopen.on>span:nth-child(3) {transform:rotate(-45deg)}
#mopen.on>span:nth-child(4) {left:-100%;}




#cover_nav {position:fixed;top:0;right:0;background:#f2f2f2;width:100%;height:0;overflow:hidden;transition:0.5s;z-index:1000;}
#cover_nav.on {height:100vh;}

#cover_nav .container {display:flex;position:absolute;top:50%;left:50%;width:1200px;transform:translate(-50%,-50%)}
#cover_nav .container>* {flex:1;padding:0 40px;}


#cover_nav figure img{border-radius:50%;overflow:hidden;}
#cover_nav .txt {margin:100px 0;}
#cover_nav hr {margin:50px 0;border:none;border-top:1px dashed #999}/* dashed */


#cover_nav .txt h3 {font-size:30px;font-weight:100;letter-spacing:1rem;text-transform:uppercase;/*대문자*/margin-bottom:30px;}
#cover_nav .txt p {font-size:14px;font-weight:300;line-height:1.4;}



#cover_nav .link li {line-height:2;text-transform:uppercase;}
#cover_nav .link li:before {content:"\e9c9";font-family: xeicon!important;margin-right:20px;color:#f00;font-size:20px;vertical-align:middle;transition:0.4s;}

#cover_nav .link li:hover:before {color:#369;margin-right:40px;} 
#cover_nav .link li:hover:after {content:"MORE";font-size:10px;margin-left:30px;color:#999;}
 /*icon코드 우선 html에 i입력 후 사이트검사 통해서 코드와 \e928 font-family를 가져온다* 다량의 동일한 아이콘를 수정할때 용이*/










/* video 다른 방법 
html 
            <div class="video_case">
                <video Class="m01_video" src="./main/movie01.mp4" autoplay muted playsinline loop data-keepplaying></video>
            </div>
            <div class="txt">
                <h2> yeonji's</h2>
                <p>Lorem ipsum dolor sit amet.
                    <i class="xi-pause"></i> <i class="xi-play"></i> 
                </p>
            </div>
        </section>

풀페이지 셀렉션이 overflow: hidden;가 적용되지 않아서 div 이용
css의 경우
.video_case {height: 100vh;overflow: hidden;}
.m01 video {width: 1920px;}
.m01 .txt {position: absolute;top: 50%;left: 50%;width: 1200px;transform: translate(-50%,-50%);color: #fff;}

.m01 .txt h2 {font-size: 40px ; font-weight: 900;margin-bottom: 20px;}
.m01 .txt p {font-size: 14px ; font-weight: 300;}
.m01 .txt i {font-size: 30px;}

js의 경우 
      
    $(".m01 .xi-play").on("click", function(){
        $(".m01_video").trigger("play");
    });

    $(".m01 .xi-pause").on("click", function(){
        $(".m01_video").trigger("pause");
    });  
*/