/* 웹폰트 - 구글웹폰트 https://fonts.google.com/?subset=korean */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 웹아이콘 - xeicon https://xpressengine.github.io/XEIcon/started.html  */
/* 웹아이콘 - xeicon 라이브러리 https://xpressengine.github.io/XEIcon/library-2.3.3.html  */

@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

body {font-family: 'Noto Sans KR', sans-serif;line-height:1;} 
* {margin:0;padding:0;font-size:inherit; font-weight:inherit;box-sizing:border-box;} /*inherit기본 / 기본폰트사이즈 16px*/
ul, ol {list-style: none;}  
a {text-decoration: none; color: inherit;}  
img{vertical-align: middle;}
header, nav, section, main, aside, figure, article, footer {display:block;}




